html{
  height: 100%
}
body {
  height: 100%;
  margin: 0;
}

.grad {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to top, red, blue);
}

.head {
  height: 25px;
  width: 310px;
  text-align: center;
  margin: 0 auto;
  background-color: pink;
  box-shadow: 5px 5px 5px black;
  border: solid 2px;
  border-radius: 5px;
}

.spacer {
  height: 10px;
}

.box1 {
  flex: 1;
  height: 200px;
  min-width: 200px;
  max-width: 200px;
  margin-top: 10px;
  margin-left: 80px;
  border: solid 3px;
  border-radius: 50%;
  transition: 1s;
  background-color: lightblue;
}

.box2 {
  flex: 1;
  height: 200px;
  min-width: 200px;
  max-width: 200px;
  margin-left: 80px;
  border: solid 3px;
  transition: 1s;
  background-color: lightblue;
}

.box1:hover {
  border-radius: 0%;
  background-color: orange;
}

.box2:hover {
  border-radius: 50%;
  background-color: purple;
}

.boxholder {
  display: flex;
  flex-wrap: wrap;
}

.top {
  position: absolute;
  top: 5px;
  right: 5px;
  color: pink;
  font-size: 48px !important;
}

@media only screen and (max-width: 500px) {
  .top {
    display: none;
  }
}
